# Eclipse / PyCharm
.metadata
.settings
.pydevproject
RemoteSystemsTempFiles/
.idea

# Binaries
*.egg-info
*.zip
*.tar.gz
bin/
target/

# Python
*.pyc
*.pyo
__pycache__/


.coverage
htmlcov/


# Sonar
.sonar/
sonar-project.properties

# Temporary files
*.db
